/* list format */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}

li {
	float: left;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}


/* form format */

form {
	margin: 40px;
	padding: 25px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input {
	position: absolute;
	left: 22em;
	width: 50%;
}

select {
	position: absolute;
	left: 22em;
	width: 20%;
}

.button {
	height: 30px;
	width: 200px;
}


/* Main format */

header {
	text-align: center;
}

body {
	color: white;
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

#links {
	text-align: center;
}

#hopepage {
	text-align: center;
}
